.lessons-page{
    flex-grow:1;
}
.topbar {
    background:linear-gradient(0deg,rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.404)),url(../../../assets/images/LessonPage/topbar-title-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position:center center;
    min-height: 15rem;
    display: flex;
    align-items: center;

}
.topbar-text {
    color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
}

.topbar-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}
.topbar-text p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0;
}

.lesson-list {
    background-color: #ededed;
    padding-bottom: 20px;

}

.arrow-tag {
    position: relative;
    padding-top: 30px;

}

.arrow-tag img {
    width: 250px;
    height: auto;
    max-height: 45px;
    float: left;
}
.arrow-tag .text {
    position: absolute;
    top: 40%;
    left: 0;
}
.arrow-tag .text p{
   color: white;
   text-transform: uppercase;
   font-size: 18px;
   margin: 8px 0 0 15px;
}
.one-line img {
    width: 20px;
    height: auto;
    float: left;
    margin-left: 30px;
    margin-top: 6px;
}
.one-line p {
    margin-left: 60px;
    font-size: 20px;
}
.practice-text {
    margin-top: 20px;
}
.one-lesson{
    background: #fff;
    margin: 0.5rem 2rem;
    border-radius: 5px;
}
.one-lesson .title-lesson h5{
    margin-bottom: 0;
    padding-left: 0.5rem;
}
.one-lesson .title-lesson{
    flex: 1;
    word-break: break-all;

}
.one-lesson .star-lesson{
    flex: 1;
}
.one-lesson .star-lesson img {
    width: 24px;
    height: auto;
}
.one-lesson .button-lesson{
    padding-right: 0.7rem!important;
}

.link-text {
    text-decoration: none;
    color: #000;
}
.link-text:hover {
    text-decoration: none;
    color: #28a745;
}