.exam-detail{
    margin: 1rem;
}
.tutorial{
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
}
.tut-box{
    padding: 1rem;
    margin: 0 auto;
    background: #F2F2F2;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
    border-radius: 3px/6px;     
}
.tut-box p{    
    color: white;
    background-color: rgb(7, 7, 78);
    display:inline;
    padding-left: 0.15rem;
    padding-right: 0.1rem;
}
.clock{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.clock-countdown{
    font-size: 1.85rem;
    padding-left: 0.5rem;
}
.ol-list{
    margin-left: -1rem;
}
.exam-tut-notice{
    background-color: transparent!important;
    margin-left: -1rem;
    color: red !important;
    float: left;
}
.exam-submit{
    text-align: center;
}
.btn.exam-submit-btn{
    display: inline-block;
    background-color: darkorange;
    color: white;
    border: none;
}
.btn.exam-submit-btn:hover{
    background-color: orangered;
}
.exam-content-title{
    color: white;
}
.exam-content-info{
    margin: 0;
    color: white;
    padding: 1.5rem;
    background: rgb(0, 61, 0);
}
.exam-content-info h5{
    margin-bottom: 0;
}
.exam-content-info-custom h5{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.exam-content-info-custom .second{
    flex:1;
}
.exam-question-title{
    text-align: center;
}

/* box */
.box
{
    padding: 0.2rem;
	background: #001e2d;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	border:2px solid rgba(0,0,0,.5);
}
.box .content{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
    border-image-slice: 1;
    border-width: 3px;

}
.exam-question {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 50em;
}
.exam-question-content h4{
    font-weight: bold;
    color:rgb(0, 65, 0);
}
.exam-part-2,.exam-part-3 {
    padding-top:0.5rem;
}
.ques{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.ques-num{
    font-weight: bold;

}
.rewrite-2-sw{
    text-align: left;
}
.rewrite-2-sw b{
    color: darkgreen;
}