.exam-score{
    text-align: center;
}
.exam-score-detail i{
    padding-right: 0.3em;
}
.exam-reuslt p{
    margin-bottom: 0;
    margin-top: 0.5em;
}
.exam-reuslt button:first-child{
    width: 61px;
}
.exam-reuslt button:last-child{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.exam-reuslt .btn:disabled{
    color: black;
    opacity: 1;
}
.collapse-result{
    margin-top: 0.5em;
}
.btn-notifiT{
    border: 2px solid green
}
.btn-notifiF{
    border: 2px solid red
}
.ico-1{
    color: darkorchid;
}
.ico-2{
    color: green;
}
.ico-3{
    color: red;
}